<!DOCTYPE html>
<html>
<%= render partial:'partials/page_head'%>
<%= render partial:'partials/page_header'%>
<body>
<div class="d-flex flex-nowrap">
  <%= render partial:'partials/sidebar'%>
  <div class="container py-3">
    <%= render partial:'partials/flying_form'%>
    <%= render partial:'partials/work_in_progress'%>
    <%= render partial:'partials/page_footer'%>
  </div>
</div>

</body>

</html>